---
// public-directory-website/src/components/Header.astro
---
<header class="bg-gray-800 text-white p-4">
  <nav class="container mx-auto flex justify-between">
    <a href="/" class="font-bold">Buy Canadian</a>
    <div>
      <a href="/login" class="mr-4">Login</a>
      <a href="/">Home</a>
    </div>
  </nav>
</header>
