---
// public-directory-website/src/layouts/BaseLayout.astro
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Buy Canadian</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="bg-gray-100">
    <Header />
    <main class="container mx-auto my-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
